apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
    name: {{ item_project.user }}-operatorgroup
    namespace: {{ item_project.namespace }}
spec:
    targetNamespaces:
    - {{ item_project.namespace }}