apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: camel-k-nightly
  namespace: {{ item_project.namespace }}
spec:
  channel: alpha
  installPlanApproval: Automatic
  name: camel-k-nightly
  source: camel-k-nightly
  sourceNamespace: openshift-marketplace
  